.bg-pattens-blue { background-color: #def1f6; }

.bg-catalina-blue { background-color: #244262; }
.b--catalina-blue { border-color: #244262; }
.c-catalina-blue { color: #244262; }

.c-dark-gray { color: #a7a7a7;}

.bg-lightning-yellow { background-color: #f5a623; }

.bg-cerulean { background-color: #0169b1; }
.c-cerulean { color: #0169b1; }
.b--cerulean { border-color: #0169b1; }
